aiohttp==3.4.4
appnope==0.1.0
async-timeout==3.0.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
Cython==0.29
decorator==4.3.0
defusedxml==0.5.0
emoji==0.5.1
grab==0.6.41
idna==2.7
idna-ssl==1.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.2.5
multidict==4.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.6
ptyprocess==0.6.0
pycurl==7.43.0.1
Pygments==2.2.0
pyTelegramBotAPI==3.6.6
pytils==0.3
requests==2.19.1
selection==0.0.14
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
user-agent==0.1.9
vedis==0.7.1
wcwidth==0.1.7
weblib==0.1.30
yarl==1.2.6
